<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STRAWEB</title>
</head>

<body>
    <button onclick="history.back()">Go Back</button>
    <form id="form" style="display: flex;flex-direction: column;width: 40vh;" method="post" >
    </form>
</body>

</html>
<script>
    let form = document.getElementById("form")
    let required = {{ values| tojson}}
    let lastSelect = 0
    var submit = document.createElement("button")
    submit.type = "submit"
    submit.textContent="Submit {{type}}"
    Object.keys(required).forEach(k => {
        var input = document.createElement("input");
        var label = document.createElement("label");
        var select = document.createElement("select");
        label.textContent = k;
        switch (k) {
            case "picture":
                input.type = "file";
                break;
            case "release_date":
                input.type = "date";
                break;
            case "sunshine_rate":
            case "temperature":
            case "humidity_rate":
            case "is_connected":
            case "price":
            case "tank_level":
            case "current_plant":
                input.type = "number";
                input.step="0.1"
                input.min=0
                input.max=100
                break;
            case "collection":
            case "model":
                input = select
                break;
            default:
                input.type = "text"

                break;
        }
        input.id = k;
        input.name = k;
        form.appendChild(label);
        form.appendChild(input); // put it into the DOM
    });
        let values_data={{ data| tojson}};
        Object.keys(values_data).forEach(k => {
            document.getElementById(k).value=values_data[k]
        }); 
    var column_types={{col_types|tojson}}

    function changeColumn(inputId,selectId){
        var selectChanged = document.getElementById(selectId)
        var inputToChange = document.getElementById(inputId)
        inputToChange.type=column_types[selectChanged.value]
    }
    function newColumn() {
        var btn_add = document.getElementById("button_add");
        var div = document.createElement("div");
        var select = document.createElement('select');
        var input = document.createElement('input');
        input.type="number";
        input.id="input"+(lastSelect+1)
        select.id="select"+(lastSelect+1)
        select.onchange=()=>changeColumn(input.id,select.id)
        div.appendChild(select);
        div.appendChild(input)
        form.insertBefore(div,btn_add);
        var selectCreated=document.getElementById(select.id)
        Object.keys(column_types).forEach(c => {
            var option =document.createElement("option")
            option.value=c
            option.text=c
            selectCreated.add(option)
        });
        lastSelect+=1
    }
    if ({{type| tojson}}=="table"){
        var button_add = document.createElement("button");
        button_add.id="button_add";
        button_add.type="button";
        button_add.onclick = ()=>newColumn();
        button_add.textContent= "+ add column";
        form.appendChild(button_add);
    }
    if ({{data|tojson}} !="") {
        document.getElementById('form').action="/edit/{{type}}/{{id}}?interface=true";
    }else{
        document.getElementById('form').action="/create/{{type}}?interface=true";
    }
    form.appendChild(submit)

</script>