*:not(head,script){
    display: flex;
    margin:0;
    padding: 0;
}
body{
    width: 90%;
    flex-direction: column;
}
.verticale{
    flex-direction: row;
}

.horizontal{
    flex-direction: column;
}

.card{
    background-color:lightgray;
    width: 40vh;
    height:fit-content;
    margin:10px;
    flex-direction:column
}
.picture-section{
    height:12vh;
    width: 12vh;
    justify-content: center;
    align-items: center;
}
img{
    width: 10vh;
    height: 10vh;   
    object-fit: scale-down;
    background-color: white;
}
.infos-section{
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    justify-content:  center;
}
.buttons-section{
    flex-direction: row;
    justify-content: space-evenly;
}
.list{
    flex-wrap: wrap;
}